<div class="col d-flex justify-content-center">
    <div class="col-8">
    <div class="card" >
        <div class="card-header">
          <b> Please Fill these personal info</b>
        </div>
        <div class="card-body"> 
        <form [formGroup]="editForm" class="form">
            <!-- <form class="form" [formGroup]="registerForm"> -->
            <mat-form-field class="form-element">
                <input matInput placeholder="fullName" formControlName="fullName">
                <mat-error *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                    <div *ngIf="f.fullName.errors.required">fullName is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <input matInput placeholder="Email Address" formControlName="email">
                <mat-error *ngIf="!editForm.controls['email'].valid && editForm.controls['email'].touched">
                    <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback"> -->
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <mat-error *ngIf="f.email.errors.email">Email must be a valid email address</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <input matInput placeholder="Enter your password" formControlName="password"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                <mat-error *ngIf="!editForm.controls['password'].valid && editForm.controls['password'].touched">
                    {{ getErrorPassword() }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <input matInput placeholder="Confirm Password" formControlName="repeatPassword"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                <!-- <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.repeatPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</div>
                </div> -->
                <!-- <mat-error *ngIf="f.repeatPassword.errors.mustMatch">Passwords must match</mat-error> -->
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" (change)="updateProfile($event.target.value)">
                    <mat-option *ngFor="let r of roles" [value]="r.value">
                        {{r.viewValue}}
                    </mat-option>
                </mat-select>
                <!-- <mat-error class="invalid-feedback" *ngIf="submitted && registerForm.role.errors?.required"></mat-error> -->

            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="warn">Clear</button> &nbsp;
    
            <button mat-raised-button color="primary" [disabled]="!editForm.valid" (click)="updateUser()" type="submit">Submit</button>
            <!-- <div class="form-element">
                <button mat-raised-button color="primary" (click)="updateUser()" type="submit" class="button">Submit
                    Form</button>
            </div> -->

        </form>
        </div>
        </div>
        </div>
    </div>
<br> <br>