<!--<br> <br> <br> 
<button type="button"  style="margin-left:60px" routerlink="/home" routerLinkActive="active" class="btn btn-link">home</button><br>
<button type="button"  style="margin-left:60px" routerlink="/projects" routerLinkActive="active" class="btn btn-link">projects</button><br>
<button type="button"  style="margin-left:60px" routerlink="/stacks" routerLinkActive="active" class="btn btn-link">stacks</button><br>
<button type="button"  style="margin-left:60px" routerlink="/designer" routerLinkActive="active" class="btn btn-link">designer</button><br>
<button type="button"  style="margin-left:60px" routerlink="/users" routerLinkActive="active" class="btn btn-link">users</button><br>
<router-outlet></router-outlet>!-->
<router-outlet></router-outlet>



