.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  mat-header-cell,th{
    min-height:25px;
    font-family:sans-serif;
    font-weight:bold;
    font-size:14px;
    color: #500050;
    margin-bottom:5px;
     top: 0;
      position: sticky;
      z-index: 1;
      background-color: inherit;
  }
  