<div>
  <div class="add-title">
    <h4 class="primary">Add a stack</h4>
  </div>
  <div>
    <form [formGroup]="addStack" (change)="formChanged()" class="form">

      <mat-grid-list cols="3" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name" placeholder="name">
              <mat-error *ngIf="addStack.controls.name.hasError('required')">
                Please enter the stack name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">dev</mat-option>
                <mat-option value="option2">test</mat-option>
                <mat-option value="option3">production</mat-option>
                <mat-option value="option3">monitoring</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <textarea matInput formControlName="description" placeholder="description"></textarea>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="button-row">
          <button mat-raised-button color="warn"  (click)="openDialog()">Clear</button>

        <button mat-raised-button color="primary" [disabled]="!addStack.valid" class="Update-btn" (click)="onAdd()" type="submit">Submit</button>
      </div>
    </form>
  </div>